{% extends "base.html" %}

{% block title %}
    首页
{% endblock %}


{% block content %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index/">首页</a>
            </li>
            <li>
                <a>仪表盘</a>
            </li>
            <li class="active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>



    <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>cpu使用情况</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div id="gauge"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>磁盘富余状态</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div id="pie"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}