{% extends 'base.html' %}

{% block title %}
    用户列表
{% endblock %}

{% block content %}
    <table class = 'table table-bordered col-md-8'>
        <thead style="text-align: center;">
            <th> 用户名 </th>
            <th> 注册电话 </th>
            <th> 注册邮箱 </th>
            <th> 出生年月 </th>
            <th> 用户业务分组 </th>
            <th> 是否是管理员 </th>
        </thead>
        <tbody>
            {% for user in userList %}
                <tr>
                    <td> {{ user.user }} </td>
                    <td> {{ user.phone }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.birthday }} </td>
                    <td> {{ user.groups }} </td>
                    <td> {{ user.isadmin }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}