{% extends 'base.html' %}

{% block style %}
    <script type = "text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
{% endblock %}

{% block title %}
    websocket状态
{% endblock %}

{% block content %}
    <table class = 'table table-bordered col-md-8'>
        <thead style="text-align: center;">
            <th> 主机名 </th>
            <th> IP地址 </th>
            <th> 服务状态 </th>
            <th> 操作 </th>

        </thead>
        <tbody>
            {% for server in websockinfo %}
                <tr>
                    <td> {{ server.hostname }} </td>
                    <td> {{ server.ip }} </td>
                    {% ifequal server.cpu "1" %}
                    <td>
                        <span style="color: #EC4A4B"> 异常 </span>
                    </td>
                    {% else %}
                    <td>
                        <span style="color: #06c290"> 正常 </span>
                    </td>
                    {% endifequal %}
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#connection" onclick="getValue({{ server.id }},'{{interface_name}}')">
                                重启
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <!-- 登录模态框 -->
    <div id="connection" class="modal fade" tabindex = '1' role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >重启{{ interface_name }}服务</h4>
                </div>

                <div class = 'modal-body'>
                    <div class="alert alert-warning">
                        <strong>警告！</strong>重启可能导致业务异常！
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a id="restart" class="btn btn-danger asset_all_del"> 确定 </a>
                </div>
            </div>
        </div>
    </div>

    <!-- ajax 提交数据 -->
    <script>
        function getValue(id, interface) {
            $('#restart').click(
                function () {
                    var sendData = {
                        'id':id,
                        'interface':interface
                    };

                    $.ajax(
                        {
                            url:'/interface/restart/',
                            type:'POST',
                            data:sendData,

                            success:function (data) {
                                $('#connection').modal('hide');
                                var status = data['msg'];
                                console.log(status)
                            },
                            error:function (error) {
                                alert('重启执行错误，请和管理员联系！')
                                $('#connection').modal('hide');
                            }
                        }
                    )
                }
            )
        }
    </script>
{% endblock %}